
@{
    ViewBag.Title = "Про нас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br />
    <h2 align="center">Cтартап ветеранів війни.</h2>

    <h3 align="center">Долучайся!</h3> <h3 align="center"> Купуй!</h3><h3 align="center">  Допомагай!</h3>

    <h4 align="center">
        Товар, який ви тримаєте в руках, створений зусиллями ГО ветеранів АТО та волонтерів. <br> Тільки при вашій підтримці ми зможемо більше!
    </h4>
    <br><br>
    <div class="about_us_contact">
        <h3>Контакти</h3><br>
        <span><img src="~/img/Maps-Location-icon.png" alt=""></span>Украина, Киев, вул Шевченка 164
        <span>   <img src="~/img/office-phone-icon--25.png" alt=""></span>+380 123 330 365
    </div>
<div id="overlay"></div>

