@model Domain.Entityes.Basket
<a href="@Url.Action("Index", new {returnUrl = Request.Url?.PathAndQuery})" class="basketLink">
    @{
        if (Model.CountItem == 0)
        {
            <img src="~/img/basketpic.png" alt="кошик" title="кошик" class="iconheader">
        }

        if (Model.CountItem != 0)
        {
            <img src="~/img/basketpic.png" alt="кошик" title="кошик" class="iconheader">
            <span class="addbasket" style="color: darkorange; "> @Model.CountItem</span>
        }
    }
</a>

