@{
    ViewBag.Title = "Дякуемо!";
}
<br />
<br />

@foreach (var i in ViewBag.Answer)
{
    <h3  align="center">@i</h3>
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
