<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style>
        .nav > li > a:focus, .nav > li > a:hover {
            background-color: #000000;
            background-color: rgba(0, 0, 0, 0);
        }
    </style>
</head>
<body>
    <header>
        <!----------------------------------------------BRAND & LOGO-------------------------------------------------->
        <a class="navbar-brand" href="/Home/Selling"><img src="~/img/logo.png" alt=""></a><p class="logo"> OWL FLIGHT</p>
        <!---------------------------------------- NAVIGATION PANEL--------------------------------------------------->
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
                <div class="navbar" id="bs-example-navbar-collapse" id="menu">
                    <!--      NAV MENU-->
                    <ul class="nav navbar-nav" style="color:black">
                        <li class="catalog_menu"><a href="/Home/Selling" style="color:black">Головна</a></li>
                        <li class="about_us_menu"><a href="/Home/AboutUs" style="color:black">Про нас</a></li>
                        <li><a href="https://www.facebook.com/Flight-OWL-865530733589259" target="_blank"><img src="~/img/square-facebook-128.png" alt="" class="icon_menu"></a></li>
                        @*метод генирирующий разметку для корзины. Разметка (Summary) находиться в папке Basket*@
                        <li class="catalog_menu">@Html.Action("Summary", "Basket")</li>
                    </ul>
                </div>
            </div>
        </nav>
        <!------------------------------------------------------------------------------------------------------------->
    </header>
    @RenderBody()
    <footer>
        <div class="row webforyou">
            <strong><p class="m-0 text-center text-white">Copyright &copy; <a href="http://webforyou.com.ua/">WEB FOR YOU</a> 2017</p></strong>
        </div>
    </footer>
    </body>
</html>
