<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="футболки Украина, Украинские футболки, футболки OWL FLIGHT, футболки от ветерана АТО, патріотичні футболки">
    <meta name="description" content="Футболки OWL FLIGHT. Товар, який ви тримаєте в руках, створений зусиллями ГО ветеранів АТО та волонтерів.">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</head>
<body>
<div class="container-fluid bodyback">
    <header>
        <div class="row">
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
                <a href="/Home/Selling"><img src="~/img/logo.png"  class ="logoimg" alt="Футболки" title="Футболки owl-flight" ></a>
                    
            </div>
            <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
                <h1 class="logo"> OWL FLIGHT</h1>
                <h2 class="logotxt">Футболки від українського виробника - ветерана АТО</h2>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                @Html.Action("Summary", "Basket")
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <a href="https://www.facebook.com/Flight-OWL-865530733589259" target="_blank"><img src="~/img/square-facebook-128.png" class="iconheader" alt="аккаунт в фейсбуке"></a>
            </div>
        </div>
    </header>
    <div class="row">
        <!---------------------------------------- NAVIGATION PANEL--------------------------------------------------->
        <div class="container-fluid">
            <nav class="navbar navbar-default" role="navigation">
                <hr class="linehr">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="mainmenu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/Home/Selling"><span class="spanLi">Футболки "owl flight"</span></a>
                        </li>
                        <li>
                            <a href="/Home/AboutUs"><span class="spanLi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Про нас&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                        </li>

                    </ul>
                </div>
                <hr class="linehr1">
            </nav>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------------->
    <div>
        @RenderBody()
    </div>
    <p class="text-center">
        Copyright &copy; <a href="http://webforyou.com.ua/">WEB FOR YOU</a> 2017
    </p>
</div>
</body>
</html>
