@model Domain.Entityes.Product

@if (Model.Photo!="new")
{
   <h4 align="center" style="color:  red">@ViewBag.Error</h4>
<table class="table">
        <tr>
            <td>
                <img src="~/PhotoForDB/@Model.Photo" width="60" height="70" />
            </td>
            <td class="text-center">
                <input type="button" id="@(Model.ProductId+"ButtonDelete")"
                       class="btn btn-default btn-xs"
                       value="Видалити фото" />
                <script>
                    $(document)
                        .ready(function () {
                            $("#@(Model.ProductId + "ButtonDelete")")
                                .click(function () {
                                    var data = {
                                        idProduct: ('@Model.ProductId')
                                    };
                                    $.ajax({
                                        url: "/Admin/DeletePhoto",
                                        type: "POST",
                                        data: data,
                                        success: function (data) {
                                            $("#photoId").html(data);
                                        }
                                    });
                                });
                        });
                </script>
            </td>
        </tr>
</table>
}


